.game-button {
    -fx-text-fill: #815355;
    -fx-background-color: #CBD4C2;
    -fx-border-color: #523249;
    -fx-border-width: 5;
    -fx-cursor: hand;
    }
.game-button:hover {
    -fx-background-color: #586F6B;
    -fx-text-fill: #CBD4C2;
}

.text-field {
        -fx-text-fill: #815355;
        -fx-background-color: #CBD4C2;
        -fx-border-color: #523249;
        -fx-border-width: 5;
        -fx-cursor: hand;
    }
.text-field:focused{
    -fx-background-color: #586F6B;
    -fx-text-fill: #CBD4C2;
}
.item-button{
    -fx-text-fill: #CBD4C2;
    -fx-background-color: #815355;
    -fx-border-color: #523249;
    -fx-border-width: 2;
    -fx-cursor: hand;
}
.item-button:hover {
    -fx-background-color: #586F6B;
    -fx-text-fill: #CBD4C2;
}

.game-label {
    -fx-text-alignment: left ;
    -fx-text-fill: #815355;
}


.color-label {
    -fx-text-alignment: left ;
}

