@font-face {
    font-family: 'GoodDog';
    src: url(fonts/GoodDog.otf);
}

.label {
    -fx-font-family: 'GoodDog';
}

.button  {
    -fx-font-family: 'GoodDog';
}
.tooltip .text{
    -fx-font-family: 'GoodDog';
}
.text-field {
    -fx-font-family: 'GoodDog';
}