@font-face {
    font-family: 'Pixellari';
    src: url(fonts/Pixellari.ttf);
}

@font-face {
    font-family: 'Silksceen';
    src: url(fonts/slkscr.ttf);
}
.label {
    -fx-font-family: 'Pixellari';
    -fx-text-fill:#cbd4c2;
}

.button  {
    -fx-font-family: 'Pixellari';
}

.tooltip .text{
    -fx-font-family: 'Pixellari';
}

.text-field {
    -fx-font-family: 'Pixellari';
}