@font-face {
    font-family: 'Venice Classic';
    src: url(fonts/VeniceClassic.ttf);
}
@font-face {
    font-family: 'Pixellari';
    src: url(fonts/Pixellari.ttf);
}
@font-face {
    font-family: 'SD Auto Pilot';
    src: url(fonts/sd_auto_pilot.ttf);
}
@font-face {
    font-family: 'St26k';
    src: url(fonts/St26k.ttf);
}
.label{
    -fx-font-family: 'Pixellari';
}
.button  {
    -fx-font-family: 'Pixellari';
}

.tooltip .text{
    -fx-font-family: 'Pixellari';
}
.tooltip {
    -fx-font-family: 'Pixellari';
}
.text-field {
    -fx-font-family: 'Pixellari';
}
.text-area{
    -fx-font-family: 'Pixellari';
    -fx-wrap-text: true;
}